<a href="https://colab.research.google.com/github/sunjana2199/ML-with-Logistic-Regression/blob/main/ML_2_Spam_Mail_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer 
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Data Collection and Pre-Processing

In [27]:
df = pd.read_csv('/content/spam_ham_dataset.csv')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5171 entries, 0 to 5170
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5171 non-null   int64
 1   label       5171 non-null   object
 2   text        5171 non-null   object
 3   label_num   5171 non-null   int64
dtypes: int64(2), object(2)
memory usage: 161.7+ KB

In [33]:
df1 = df.drop(['Unnamed: 0','label_num'],axis ='columns')

In [34]:
#replace null values with a null string

df1 = df1.where(pd.notnull(df),'')

In [35]:
# label encoding

df1.loc[df1['label']== 'spam','label_enc'] = 0
df1.loc[df1['label']== 'ham','label_enc'] = 1

In [36]:
df1.head()

  label                                               text  label_enc
0   ham  Subject: enron methanol ; meter # : 988291\r\n...        1.0
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...        1.0
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...        1.0
3  spam  Subject: photoshop , windows , office . cheap ...        0.0
4   ham  Subject: re : indian springs\r\nthis deal is t...        1.0

In [41]:
# Name x and y

X = df1['text'].str[8:]

Y = df1['label_enc']

In [42]:
print(X)

0        enron methanol ; meter # : 988291\r\nthis is ...
1        hpl nom for january 9 , 2001\r\n( see attache...
2        neon retreat\r\nho ho ho , we ' re around to ...
3        photoshop , windows , office . cheap . main t...
4        re : indian springs\r\nthis deal is to book t...
                              ...
5166     put the 10 on the ft\r\nthe transport volumes...
5167     3 / 4 / 2000 and following noms\r\nhpl can ' ...
5168     calpine daily gas nomination\r\n>\r\n>\r\njul...
5169     industrial worksheets for august 2000 activit...
5170     important online banking alert\r\ndear valued...
Name: text, Length: 5171, dtype: object

In [43]:
# train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.2)

In [46]:
# Feature Extraction so that it can be used as input to Logistic Regression

feature_extraction = TfidfVectorizer(min_df=1, stop_words='english',lowercase='True')

X_train_feature = feature_extraction.fit_transform(X_train)
X_test_feature = feature_extraction.transform(X_test)

Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [47]:
# training the logistic Regression  Model

model = LogisticRegression()

model.fit(X_train_feature,Y_train)

LogisticRegression()

In [49]:
#Evaluating the trained Model

predict = model.predict(X_train_feature)

training_accuracy = accuracy_score(Y_train, predict)

training_accuracy

0.995889748549323

In [51]:
#Evaluating the trained Model

predict1 = model.predict(X_test_feature)

test_accuracy = accuracy_score(Y_test, predict1)

test_accuracy

0.9864734299516909

In [69]:
# Building a predictive system

input_mail = ["Stop this is not an advertisement"]

#convert text to feature vectors

input_data_features = feature_extraction.transform(input_mail)

#make the prediction

prediction = model.predict(input_data_features)
print(prediction)


if prediction[0] == 1:
  print('Ham Mail')
else:
  print('Spam Mail')

[0]
Spam Mail